@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/recoleta');
*{
  font-family: 'Poppins', sans-serif;
}
.nav li .active-page{
  background-color: white;
  color: #423e77;
}
.nav li a{
  color: white;
}
.nav li a:hover{
  background-color: white;
  color: blueviolet;
}
.myNav{
  border-top-right-radius: 40px;
}
.btn-purple{
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 20px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample-test-form,
.sample-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  min-width: 400px;
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.16) 0px 2px 16px 0px;
}

.sub-title{
    color: #af88fc;
    font-weight: 700;
    margin: 0 0 20px 0;
}

label{
    font-size: 1.2rem;
}

.patient-input {
  border: 1px solid grey;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  padding: 5px
}

input[type="submit"]{
    margin: 20px 0;
    padding: 10px;
    background-color: #af88fc;
    border-radius: 6px;
    border: none;
    color: white;
}

input[type="checkbox"] {
  width: 30px;
  transform: scale(1.5);
}
input[type="checkbox"]:checked {
  accent-color: #af88fc;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blueviolet;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#main {
  display: none;
}
#main-patient{
  display: none;
}