@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  font-weight: bold;
}
body {
  /* background-color: #d2d2d2; */
  background-image: radial-gradient(#af88fc 2.5px, transparent 2.5px);
  background-size: 43px 43px;
  background-color: #eef2f2;
}
.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
input {
  flex-grow: 1;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.form-field {
  border: 1px solid grey;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  padding: 10px;
  /* margin-top:20px */
}
.form-img {
  /* added object fit */
  object-fit: cover;
  height: 550px;
  width: 450px;
  position: relative;
  /* left: -16px; */
  border-radius: 10px;
}
form h1 {
  font-weight: bold;
  position: relative;
  top: -90px;
  /*  color:skyblue; */
  color: -moz-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  ); /* FF3.6+ */
  font-size: 40px;
}
.welcome-head {
  font-weight: bold;
  position: relative;
  top: -19px;
}
.remember-me {
  position: relative;
  top: -18px;
  left: 30px;
}
input[type="checkbox"] {
  width: 30px;
  transform: scale(1.5);
}
input[type="checkbox"]:checked{
    accent-color: #af88fc;
}
.email-head {
  position: relative;
  top: -3px;
}
.login-btn {
  border: none;
  background-color: #af88fc;
  border-radius: 6px;
  color: white;
  padding: 10px;
  width: 200px;
}
.login-btn:hover {
  color: black;
  background-color: #d2d2d2;
  transition: 0.2s ease-in-out;
}
.forgot {
  color: #1e5799;
  position: relative;
  top: 20px;
  text-decoration: none;
  list-style: none;
}
.forgot :hover {
  color: black;
}
